openapi: 3.1.0
info:
  title: ГосПлан API 223-ФЗ
  summary: API доступа к данным ГИС ЕИС ЗАКУПКИ по 223-ФЗ
  description: |

    ## Общие сведения

    Данный документ описывает интерфейс для доступа к данным,
    опубликованным в Единой информационной системе в сфере закупок
    (*ЕИС Закупки*, [https://zakupki.gov.ru](https://zakupki.gov.ru)) по 223-ФЗ.

    Wiki проекта - [https://wiki.gosplan.info](https://wiki.gosplan.info)
  contact:
    name: Поддержка API v2
    email: apiv2@gosplan.info
  version: v2.0.5
  termsOfService: https://wiki.gosplan.info/legal/API-Usage-Agreement-v2
servers:
  - url: https://v2test.gosplan.info/fz223
    description: Тестовый сервер
  - url: https://v2.gosplan.info/fz223
    description: Продуктовый сервер
tags:
  - name: Планы закупок
    description: Методы работы с планами закупок
  - name: Закупки
    description: Методы для запросов закупок
  - name: Контракты
    description: Методы для запросов контрактов
paths:
  /purchaseplans:
    get:
      summary: Получить планы закупок
      description: |
        Каждый элемент списка - это урезанная версия плана:
          содержит номер, версию и статус.
      operationId: getPurchasePlans
      tags:
        - Планы закупок
      parameters:
        - $ref: '#/components/parameters/customer'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/placer'
        - $ref: '#/components/parameters/plan_number'
        - $ref: '#/components/parameters/region'
        - $ref: '#/components/parameters/skip'
        - name: sort
          in: query
          description: |
            Параметр сортировки:
            * `updated_at_desc` - убывание даты/времени обновления плана
            * `updated_at_asc` - возрастание даты/времени обновления плана
          required: false
          schema:
            type: string
            enum:
              - updated_at_desc
              - updated_at_asc
            default: updated_at_desc
      responses:
        '200':
          description: Успешный запрос
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PurchasePlanIndex'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /purchaseplans/{plan_number}:
    get:
      summary: Получить план закупок по номеру
      description: >
        Документ плана возвращается практически в оригинальном виде (поле
        *source*).
      operationId: getPurchasePlan
      tags:
        - Планы закупок
      parameters:
        - $ref: '#/components/parameters/plan_number_in_path'
      responses:
        '200':
          description: Успешный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchasePlan'
        '404':
          $ref: '#/components/responses/NotFound'
  /purchases:
    get:
      summary: Получить закупки
      description: >
        Элемент списка - базовая информация о закупке: регион, номер, тип, дата
        публикации и

        обновления, этап и прочее. Подробную информацию см. в схеме ответа.
      operationId: getPurchases
      tags:
        - Закупки
      parameters:
        - name: submission_close_after
          in: query
          description: >
            Дата и время окончания подачи заявок на участие в процедуре закупки

            *после* заданного параметра. Например, значение

            `submission_close_after=2023-09-01T18:00:00Z` означает, что в
            выборку попадут

            закупки, которые имеют дату и время окончания *после* заданной даты.
          schema:
            type: string
            format: date-time
        - name: submission_close_before
          in: query
          description: |
            Дата и время окончания подачи заявок на участие в процедуре закупки
            *до* заданного параметра.
          schema:
            type: string
            format: date-time
        - $ref: '#/components/parameters/currency_code'
        - $ref: '#/components/parameters/currency_code_not'
        - $ref: '#/components/parameters/customer'
        - $ref: '#/components/parameters/classifier'
        - $ref: '#/components/parameters/limit'
        - name: max_price_ge
          in: query
          description: |
            Начальная (максимальная) цена договора выше чем значение параметра.
            Например, закупки дороже 1 млн задаются через параметр
            `max_price_ge=1000000`.
          schema:
            type: number
            format: float
        - name: max_price_le
          in: query
          description: |
            Начальная (максимальная) цена договора ниже чем значение параметра.
          schema:
            type: number
            format: float
        - $ref: '#/components/parameters/object_info_purchase'
        - $ref: '#/components/parameters/placer'
        - $ref: '#/components/parameters/plan_number'
        - $ref: '#/components/parameters/position_number'
        - $ref: '#/components/parameters/purchase_number'
        - $ref: '#/components/parameters/published_after'
        - $ref: '#/components/parameters/published_before'
        - name: purchase_type
          in: query
          description: |
            Тип закупки. Допускается указывать несколько параметров в запросе:
            `purchase_type=type1&purchase_type=type2&purchase_type=type3`.
          schema:
            $ref: '#/components/schemas/PurchaseType'
        - $ref: '#/components/parameters/region'
        - $ref: '#/components/parameters/skip'
        - name: sort
          in: query
          description: >
            Параметры сортировки:

            * `submission_close_at_desc` - дата/время окончания подачи заявок,
            убывание

            * `submission_close_at_asc` - дата/время окончания подачи заявок,
            возрастание

            * `max_price_desc` - максимальная цена, убывание

            * `max_price_asc` - максимальная цена, возрастание

            * `published_at_desc` - дата/время публикации документа, убывание

            * `published_at_asc` - дата/время публикации документа, возрастание

            * `updated_at_desc` - дата/время обновления документа, убывание

            * `updated_at_asc` - дата/время обновления документа, возрастание
          schema:
            type: string
            enum:
              - submission_close_at_desc
              - submission_close_at_asc
              - max_price_asc
              - max_price_desc
              - published_at_asc
              - published_at_desc
              - updated_at_asc
              - updated_at_desc
            default: updated_at_desc
        - name: stage
          in: query
          description: |
            Этап закупки.
            `1` - подача заявок,
            `2` - работа комиссии,
            `3` - закупка завершена,
            `4` - закупка отменена.
          schema:
            type: integer
            enum:
              - 1
              - 2
              - 3
              - 4
        - $ref: '#/components/parameters/updated_after'
        - $ref: '#/components/parameters/updated_before'
      responses:
        '200':
          description: Корректный запрос
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PurchaseIndex'
  /purchases/{purchase_number}:
    get:
      summary: Получить закупку по номеру
      description: |
        Возвращается документ, включающий в себя все документы, опубликованные
        в рамках данной закупки. Оригинальные документы, приведенные в формат
        *json*, находятся в поле `docs`.
      operationId: getPurchaseByNumber
      tags:
        - Закупки
      parameters:
        - $ref: '#/components/parameters/purchase_number_in_path'
      responses:
        '200':
          description: Корректный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Purchase'
        '404':
          $ref: '#/components/responses/NotFound'
  /contracts:
    get:
      summary: Получить контракты
      description: >
        Элемент списка - базовая информация о контракте: предмет и цена
        контракта,

        ИНН заказчика и поставщика, связь с закупкой и планом закупок, другая

        полезная информация.

        Подробную информацию см. в схеме ответа.
      operationId: getContracts
      tags:
        - Контракты
      parameters:
        - $ref: '#/components/parameters/currency_code'
        - $ref: '#/components/parameters/currency_code_not'
        - $ref: '#/components/parameters/customer'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/classifier'
        - $ref: '#/components/parameters/plan_number'
        - $ref: '#/components/parameters/price_ge'
        - $ref: '#/components/parameters/price_le'
        - $ref: '#/components/parameters/published_after'
        - $ref: '#/components/parameters/published_before'
        - $ref: '#/components/parameters/purchase_number'
        - $ref: '#/components/parameters/region'
        - $ref: '#/components/parameters/reg_num'
        - $ref: '#/components/parameters/skip'
        - name: sort
          in: query
          description: |
            Параметры сортировки:
            * `price_desc` - максимальная цена, убывание
            * `price_asc` - максимальная цена, возрастание
            * `published_at_desc` - дата/время публикации документа, убывание
            * `published_at_asc` - дата/время публикации документа, возрастание
            * `updated_at_desc` - дата/время обновления документа, убывание
            * `updated_at_asc` - дата/время обновления документа, возрастание
          schema:
            type: string
            enum:
              - price_desc
              - price_asc
              - published_at_desc
              - published_at_asc
              - updated_at_desc
              - updated_at_asc
        - $ref: '#/components/parameters/subject_contract'
        - name: supplier
          in: query
          description: ИНН поставщика
          schema:
            type: string
        - $ref: '#/components/parameters/updated_after'
        - $ref: '#/components/parameters/updated_before'
      responses:
        '200':
          description: Корректный запрос
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ContractIndex'
  /contracts/{reg_num}:
    get:
      summary: Получить контракт по номеру
      description: |
        В ответе содержатся все документы, опубликованные в ЕИС, с заданным
        номером контракта
      operationId: getContractByNumber
      tags:
        - Контракты
      parameters:
        - $ref: '#/components/parameters/reg_num_in_path'
      responses:
        '200':
          description: Корректный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contract'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    classifier:
      name: classifier
      in: query
      description: >
        Классификация по ОКПД2. Формат: `xx.yy.zz.qq`

        Допускается указывать группу классификатора и/или несколько параметров
        ОКПД2, но не более 5.
      schema:
        type: string
    currency_code:
      name: currency_code
      in: query
      description: Код валюты
      schema:
        type: string
        enum:
          - RUB
    currency_code_not:
      name: currency_code_not
      in: query
      description: >
        Исключить код валюты из выборки.

        Например, если требуются только *валютные* закупки или контракты, то
        необходимо

        указать `currency_code_not=RUB`.
      schema:
        type: string
        enum:
          - RUB
    customer:
      name: customer
      in: query
      description: ИНН заказчика
      schema:
        type: string
    limit:
      name: limit
      in: query
      description: Количество возвращаемых записей массива
      schema:
        type: integer
        default: 20
        minimum: 1
        maximum: 100
    object_info_purchase:
      name: object_info
      in: query
      description: >
        Наименование объекта закупки.

        Допускается указывать частичное или полное наименование.


        **ВНИМАНИЕ**. При указании данного параметра сортировка результатов
        выполняется по релевантности соответствия, поле `sort` не применяется.
      schema:
        type: string
    placer:
      name: placer
      in: query
      description: ИНН организации, создавшей сведения плана закупки
      schema:
        type: string
    plan_number:
      name: plan_number
      in: query
      description: Регистрационный номер плана
      schema:
        type: string
    plan_number_in_path:
      name: plan_number
      in: path
      description: Реестровый номер плана закупок
      required: true
      schema:
        type: string
    position_number:
      name: position_number
      in: query
      description: Номер позиции плана
      schema:
        type: string
    price_ge:
      name: price_ge
      in: query
      description: |
        Цена контракта выше чем значение параметра.
        Например, контракты дороже 1 млн задаются через параметр
        `max_price_ge=1000000`.
      schema:
        type: number
        format: float
    price_le:
      name: price_le
      in: query
      description: |
        Цена контракта ниже чем значение параметра
      schema:
        type: number
        format: float
    published_after:
      name: published_after
      in: query
      description: |
        Дата публикации документа больше или равно чем данный параметр
      schema:
        type: string
        format: date-time
    published_before:
      name: published_before
      in: query
      description: |
        Дата публикации документа меньше или равно чем данный параметр
      schema:
        type: string
        format: date-time
    purchase_number:
      name: purchase_number
      in: query
      description: Номер закупки
      schema:
        type: string
    purchase_number_in_path:
      name: purchase_number
      in: path
      required: true
      description: Номер закупки
      schema:
        type: string
    reg_num:
      name: reg_num
      in: query
      description: Регистрационный номер сведений о договоре.
      schema:
        type: string
    reg_num_in_path:
      name: reg_num
      in: path
      required: true
      description: Регистрационный номер сведений о договоре.
      schema:
        type: string
    region:
      name: region
      in: query
      description: >
        Код региона.

        Допускается указывать несколько параметров `region=1&region=2&region=3`.

        Расшифровка кодов приведена на странице [Коды
        регионов](https://wiki.gosplan.info/docs/regions)
      schema:
        type: integer
    skip:
      name: skip
      in: query
      description: Количество записей, которые надо пропустить
      schema:
        type: integer
        default: 0
        minimum: 0
    subject_contract:
      name: subject
      in: query
      description: >
        Предмет контракта. Допускается указывать частичное наименование

        или ключевые слова.


        **ВНИМАНИЕ**. При указании данного параметра сортировка результатов
        выполняется по релевантности соответствия, поле `sort` не применяется.
      schema:
        type: string
    updated_after:
      name: updated_after
      in: query
      description: |
        Дата обновления документа в ЕИС *после* указанной даты.
      schema:
        type: string
        format: date-time
    updated_before:
      name: updated_before
      in: query
      description: |
        Дата обновления документа в ЕИС *до* указанной даты.
      schema:
        type: string
        format: date-time
  responses:
    NotFound:
      description: Запись не найдена
      content:
        application/json:
          schema:
            type: object
            properties:
              detail:
                type: string
                enum:
                  - Документ не найден
    UnprocessableEntity:
      description: Некорректный запрос
      content:
        application/json:
          schema:
            type: object
            properties:
              detail:
                type: array
                items:
                  type: object
                  properties:
                    ctx:
                      type: object
                      description: Контекст параметра
                    input:
                      type: string
                      description: Введенный параметр
                    loc:
                      type: array
                      description: Локация параметра
                    msg:
                      type: string
                      description: Текст ошибки
                    type:
                      type: string
                      description: Тип ошибки
                    url:
                      type: string
                      description: Ссылка на описание ошибки
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      required:
        - code
        - message
    Contract:
      description: Объект контракта
      type: object
      allOf:
        - description: Информация о контракте
          type: object
          properties:
            currency_code:
              type: string
              description: Код валюты
            customer:
              type: string
              description: ИНН заказчика
              example: '2720048360'
            doc_created_at:
              type: string
              format: date-time
              description: Дата и время создания документа в БД
            doc_updated_at:
              type: string
              format: date-time
              description: Дата и время обновления документа в БД
            docs:
              type: array
              description: Документы закупки
              items:
                description: Запись о документе
                type: object
                properties:
                  doc_type:
                    type: string
                    description: >
                      Тип документа. Расшифровка типов документов для
                      соответствующей

                      группы документов приведена на старнице
                      [документации](https://wiki.gosplan.info/docs#A.2BBBQEPgQ6BEMEPAQ1BD0EQgRL_.2BBD8EPg_44.2D.2BBCQEFw.2D)
                  published_at:
                    type: string
                    format: date-time
                    description: Дата и время публикации документа
            exe_end:
              type: string
              format: date
              description: Дата окончания исполнения контракта
            exe_start:
              type: string
              format: date
              description: Дата начала исполнения контракта
            okpd2:
              type: array
              description: Классификация по ОКПД2
              items:
                type: string
            plan_number:
              type: string
              description: Реестровый номер плана закупок в ЕИС
            position_number:
              type: string
              description: Номер позиции плана
            price:
              type: number
              format: float
              description: Цена договора
              example: 1234567.89
            published_at:
              type: string
              format: date-time
              description: Дата и время публикации первого документа документа в ЕИС
            purchase_number:
              type: string
              description: Номер закупки
              example: '0322300110923000104'
            reg_num:
              type: string
              description: Номер реестровой записи (номер контракта).
            region:
              type: integer
              description: >-
                Код региона. Расшифровка кодов приведена на странице [Коды
                регионов](https://wiki.gosplan.info/docs/regions)
              example: 23
            subject:
              type: string
              description: Предмет контракта
            suppliers:
              type: array
              description: ИНН поставщиков
              items:
                type: string
            updated_at:
              type: string
              format: date-time
              description: Дата и время публикации крайнего документа контракта в ЕИС
        - description: Список документов
          type: object
          properties:
            docs:
              type: array
              items:
                description: Документ
                type: object
                properties:
                  doc_type:
                    type: string
                    description: >
                      Тип документа. Расшифровка типов документов для
                      соответствующей

                      группы документов приведена на старнице
                      [документации](https://wiki.gosplan.info/docs#A.2BBBQEPgQ6BEMEPAQ1BD0EQgRL_.2BBD8EPg_44.2D.2BBCQEFw.2D)
                  published_at:
                    type: string
                    format: date-time
                    description: Дата и время публикации документа
                  source:
                    type: object
                    description: >
                      Документ в формате *json*. Формат документа зависит от
                      типа документа и

                      описывается в соответствующей xsd-схеме.
    ContractIndex:
      description: Информация о контракте
      type: object
      properties:
        currency_code:
          type: string
          description: Код валюты
        customer:
          type: string
          description: ИНН заказчика
          example: '2720048360'
        doc_created_at:
          type: string
          format: date-time
          description: Дата и время создания документа в БД
        doc_updated_at:
          type: string
          format: date-time
          description: Дата и время обновления документа в БД
        docs:
          type: array
          description: Документы закупки
          items:
            description: Запись о документе
            type: object
            properties:
              doc_type:
                type: string
                description: >
                  Тип документа. Расшифровка типов документов для
                  соответствующей

                  группы документов приведена на старнице
                  [документации](https://wiki.gosplan.info/docs#A.2BBBQEPgQ6BEMEPAQ1BD0EQgRL_.2BBD8EPg_44.2D.2BBCQEFw.2D)
              published_at:
                type: string
                format: date-time
                description: Дата и время публикации документа
        exe_end:
          type: string
          format: date
          description: Дата окончания исполнения контракта
        exe_start:
          type: string
          format: date
          description: Дата начала исполнения контракта
        okpd2:
          type: array
          description: Классификация по ОКПД2
          items:
            type: string
        plan_number:
          type: string
          description: Реестровый номер плана закупок в ЕИС
        position_number:
          type: string
          description: Номер позиции плана
        price:
          type: number
          format: float
          description: Цена договора
          example: 1234567.89
        published_at:
          type: string
          format: date-time
          description: Дата и время публикации первого документа документа в ЕИС
        purchase_number:
          type: string
          description: Номер закупки
          example: '0322300110923000104'
        reg_num:
          type: string
          description: Номер реестровой записи (номер контракта).
        region:
          type: integer
          description: >-
            Код региона. Расшифровка кодов приведена на странице [Коды
            регионов](https://wiki.gosplan.info/docs/regions)
          example: 23
        subject:
          type: string
          description: Предмет контракта
        suppliers:
          type: array
          description: ИНН поставщиков
          items:
            type: string
        updated_at:
          type: string
          format: date-time
          description: Дата и время публикации крайнего документа контракта в ЕИС
    Document:
      description: Документ
      type: object
      properties:
        doc_type:
          type: string
          description: >
            Тип документа. Расшифровка типов документов для соответствующей

            группы документов приведена на старнице
            [документации](https://wiki.gosplan.info/docs#A.2BBBQEPgQ6BEMEPAQ1BD0EQgRL_.2BBD8EPg_44.2D.2BBCQEFw.2D)
        published_at:
          type: string
          format: date-time
          description: Дата и время публикации документа
        source:
          type: object
          description: >
            Документ в формате *json*. Формат документа зависит от типа
            документа и

            описывается в соответствующей xsd-схеме.
    DocumentItem:
      description: Запись о документе
      type: object
      properties:
        doc_type:
          type: string
          description: >
            Тип документа. Расшифровка типов документов для соответствующей

            группы документов приведена на старнице
            [документации](https://wiki.gosplan.info/docs#A.2BBBQEPgQ6BEMEPAQ1BD0EQgRL_.2BBD8EPg_44.2D.2BBCQEFw.2D)
        published_at:
          type: string
          format: date-time
          description: Дата и время публикации документа
    Documents:
      description: Список документов
      type: object
      properties:
        docs:
          type: array
          items:
            description: Документ
            type: object
            properties:
              doc_type:
                type: string
                description: >
                  Тип документа. Расшифровка типов документов для
                  соответствующей

                  группы документов приведена на старнице
                  [документации](https://wiki.gosplan.info/docs#A.2BBBQEPgQ6BEMEPAQ1BD0EQgRL_.2BBD8EPg_44.2D.2BBCQEFw.2D)
              published_at:
                type: string
                format: date-time
                description: Дата и время публикации документа
              source:
                type: object
                description: >
                  Документ в формате *json*. Формат документа зависит от типа
                  документа и

                  описывается в соответствующей xsd-схеме.
    Purchase:
      description: Объект закупки
      type: object
      allOf:
        - description: Информация о закупке
          type: object
          properties:
            submission_close_at:
              type: string
              format: date-time
              description: >-
                Дата и время окончания подачи заявок на участие в процедуре
                закупки
            currency_code:
              type: string
              description: Код валюты
              example: RUB
            customer:
              type: string
              description: ИНН заказчика
              example: '0301002668'
            delivery_places:
              type: array
              description: |
                Место поставки товара, выполнения работы или оказания услуги
              items:
                type: string
              example:
                - >-
                  Краснодарский край, Усть-Лабинский район, хутор Болгов, ул.
                  Красная, 53
                - Усть-Лабинский район станица Воронежская улица Ленина 57
            doc_created_at:
              type: string
              format: date-time
              description: Дата и время создания документа в БД
            doc_updated_at:
              type: string
              format: date-time
              description: Дата и время обновления документа в БД
            docs:
              type: array
              description: Документы закупки
              items:
                description: Запись о документе
                type: object
                properties:
                  doc_type:
                    type: string
                    description: >
                      Тип документа. Расшифровка типов документов для
                      соответствующей

                      группы документов приведена на старнице
                      [документации](https://wiki.gosplan.info/docs#A.2BBBQEPgQ6BEMEPAQ1BD0EQgRL_.2BBD8EPg_44.2D.2BBCQEFw.2D)
                  published_at:
                    type: string
                    format: date-time
                    description: Дата и время публикации документа
            max_price:
              type: number
              format: float
              description: Начальная (максимальная) цена контракта
              example: 12345.67
            object_info:
              type: string
              description: Наименование объекта закупки
              example: Поставка лекарственных препаратов для медицинского применения
            okpd2:
              type: array
              description: Классификация по ОКПД2
              items:
                type: string
              example:
                - 81.10.10.000
            placer:
              type: string
              description: |
                ИНН организации, создавшей сведения о закупке
              example: '0301002668'
            plan_numbers:
              type: array
              description: Номера планов закупок
              items:
                type: string
            position_numbers:
              type: array
              description: Номер позиции плана
              items:
                type: string
            published_at:
              type: string
              format: date-time
              description: Дата и время публикации первого документа закупки в ЕИС
            purchase_number:
              type: string
              description: Номер закупки
            purchase_type:
              description: >
                Расшифровка типов закупок приведена

                на [странице описания
                закупки](https://wiki.gosplan.info/docs/purchases)
              type: string
              enum:
                - purchaseNotice
                - purchaseNoticeAE
                - purchaseNoticeAE94FZ
                - purchaseNoticeAESMBO
                - purchaseNoticeEP
                - purchaseNoticeKESMBO
                - purchaseNoticeOA
                - purchaseNoticeOK
                - purchaseNoticeZK
                - purchaseNoticeZKESMBO
                - purchaseNoticeZPESMBO
            region:
              type: integer
              description: >-
                Код региона. Расшифровка кодов приведена на странице [Коды
                регионов](https://wiki.gosplan.info/docs/regions)
              example: 23
            stage:
              type: integer
              enum:
                - 1
                - 2
                - 3
                - 4
              description: |
                Этап закупки.
                `1` - подача заявок,
                `2` - работа комиссии,
                `3` - закупка завершена,
                `4` - закупка отменена.
              example: 1
            updated_at:
              type: string
              format: date-time
              description: Дата и время публикации крайнего документа закупки
        - description: Список документов
          type: object
          properties:
            docs:
              type: array
              items:
                description: Документ
                type: object
                properties:
                  doc_type:
                    type: string
                    description: >
                      Тип документа. Расшифровка типов документов для
                      соответствующей

                      группы документов приведена на старнице
                      [документации](https://wiki.gosplan.info/docs#A.2BBBQEPgQ6BEMEPAQ1BD0EQgRL_.2BBD8EPg_44.2D.2BBCQEFw.2D)
                  published_at:
                    type: string
                    format: date-time
                    description: Дата и время публикации документа
                  source:
                    type: object
                    description: >
                      Документ в формате *json*. Формат документа зависит от
                      типа документа и

                      описывается в соответствующей xsd-схеме.
    PurchaseIndex:
      description: Информация о закупке
      type: object
      properties:
        submission_close_at:
          type: string
          format: date-time
          description: Дата и время окончания подачи заявок на участие в процедуре закупки
        currency_code:
          type: string
          description: Код валюты
          example: RUB
        customer:
          type: string
          description: ИНН заказчика
          example: '0301002668'
        delivery_places:
          type: array
          description: |
            Место поставки товара, выполнения работы или оказания услуги
          items:
            type: string
          example:
            - >-
              Краснодарский край, Усть-Лабинский район, хутор Болгов, ул.
              Красная, 53
            - Усть-Лабинский район станица Воронежская улица Ленина 57
        doc_created_at:
          type: string
          format: date-time
          description: Дата и время создания документа в БД
        doc_updated_at:
          type: string
          format: date-time
          description: Дата и время обновления документа в БД
        docs:
          type: array
          description: Документы закупки
          items:
            description: Запись о документе
            type: object
            properties:
              doc_type:
                type: string
                description: >
                  Тип документа. Расшифровка типов документов для
                  соответствующей

                  группы документов приведена на старнице
                  [документации](https://wiki.gosplan.info/docs#A.2BBBQEPgQ6BEMEPAQ1BD0EQgRL_.2BBD8EPg_44.2D.2BBCQEFw.2D)
              published_at:
                type: string
                format: date-time
                description: Дата и время публикации документа
        max_price:
          type: number
          format: float
          description: Начальная (максимальная) цена контракта
          example: 12345.67
        object_info:
          type: string
          description: Наименование объекта закупки
          example: Поставка лекарственных препаратов для медицинского применения
        okpd2:
          type: array
          description: Классификация по ОКПД2
          items:
            type: string
          example:
            - 81.10.10.000
        placer:
          type: string
          description: |
            ИНН организации, создавшей сведения о закупке
          example: '0301002668'
        plan_numbers:
          type: array
          description: Номера планов закупок
          items:
            type: string
        position_numbers:
          type: array
          description: Номер позиции плана
          items:
            type: string
        published_at:
          type: string
          format: date-time
          description: Дата и время публикации первого документа закупки в ЕИС
        purchase_number:
          type: string
          description: Номер закупки
        purchase_type:
          description: >
            Расшифровка типов закупок приведена

            на [странице описания
            закупки](https://wiki.gosplan.info/docs/purchases)
          type: string
          enum:
            - purchaseNotice
            - purchaseNoticeAE
            - purchaseNoticeAE94FZ
            - purchaseNoticeAESMBO
            - purchaseNoticeEP
            - purchaseNoticeKESMBO
            - purchaseNoticeOA
            - purchaseNoticeOK
            - purchaseNoticeZK
            - purchaseNoticeZKESMBO
            - purchaseNoticeZPESMBO
        region:
          type: integer
          description: >-
            Код региона. Расшифровка кодов приведена на странице [Коды
            регионов](https://wiki.gosplan.info/docs/regions)
          example: 23
        stage:
          type: integer
          enum:
            - 1
            - 2
            - 3
            - 4
          description: |
            Этап закупки.
            `1` - подача заявок,
            `2` - работа комиссии,
            `3` - закупка завершена,
            `4` - закупка отменена.
          example: 1
        updated_at:
          type: string
          format: date-time
          description: Дата и время публикации крайнего документа закупки
    PurchasePlan:
      description: План закупки
      type: object
      properties:
        doc_created_at:
          type: string
          format: date-time
          description: Дата и время создания документа в БД
        doc_updated_at:
          type: string
          format: date-time
          description: Дата и время обновления документа в БД
        region:
          type: integer
          description: Код региона
          example: 23
        created_at:
          type: string
          format: date-time
          description: Дата и время создания документа в БД
        updated_at:
          type: string
          format: date-time
          description: Дата и время обновления документа в БД
        plan_number:
          type: string
          description: Регистрационный номер плана
          example: '2230746745'
        source:
          type: object
          description: |
            Документ плана-графика.
            Формат поля в соответствии со xsd-схемой документа *purchasePlan*
    PurchasePlanIndex:
      description: План закупки
      type: object
      properties:
        doc_created_at:
          type: string
          format: date-time
          description: Дата и время создания документа в БД
        doc_updated_at:
          type: string
          format: date-time
          description: Дата и время обновления документа в БД
        region:
          type: integer
          description: Код региона
          example: 23
        published_at:
          type: string
          format: date-time
          description: Дата и время публикации документа в ЕИС
        updated_at:
          type: string
          format: date-time
          description: Дата и время обновления документа в ЕИС
        plan_number:
          type: string
          description: Регистрационный номер плана
          example: '2230746745'
        docs:
          type: array
          description: Документы плана закупки
          items:
            description: Запись о документе
            type: object
            properties:
              doc_type:
                type: string
                description: Тип документа
              published_at:
                type: string
                format: date-time
                description: Дата и время публикации документа
              source:
                type: object
                properties:
                  registrationNumber:
                    type: string
                    description: Регистрационный номер плана
                    example: '2230746745'
                  version:
                    type: integer
                    description: Номер редакции
                    example: 3
                  status:
                    type: string
                    description: |
                      Статус плана.
                      `P` - Проект плана закупки.
                      `M` - Проект изменений плана закупки
                      `A` - утвержден
    PurchaseType:
      description: |
        Расшифровка типов закупок приведена
        на [странице описания закупки](https://wiki.gosplan.info/docs/purchases)
      type: string
      enum:
        - purchaseNotice
        - purchaseNoticeAE
        - purchaseNoticeAE94FZ
        - purchaseNoticeAESMBO
        - purchaseNoticeEP
        - purchaseNoticeKESMBO
        - purchaseNoticeOA
        - purchaseNoticeOK
        - purchaseNoticeZK
        - purchaseNoticeZKESMBO
        - purchaseNoticeZPESMBO
